<div *ngIf="!!event">

<h2>Veranstaltung bearbeiten</h2>

<section class="form">
  <div>

  <label for="name">Titel</label>
    <input
      matInput
      id="name"
      type="text"
      placeholder="Veranstaltungsname"
      [(ngModel)]="event.title"
    />
  </div>

  <div>
    <label for="date">Datum</label>
    <input
      matInput
      id="date"
      type="date"
      [(ngModel)]="event.date"
    />
  </div>

  <div>
    <label for="description">Beschreibungstext</label>
    <textarea
      matInput
      id="description"
      rows="5"
      placeholder="Beschreibungstext"
      [(ngModel)]="event.description"
    ></textarea>
  </div>
</section>

<button mat-button (click)="saveEvent()">Speichern</button>
<button mat-button>Abbrechen</button>

</div>
