<section>
  Dies ist <strong>bringmit</strong>, eine einfache Möglichkeit, um Buffets für Veranstaltungen zu organisieren.
</section>
<hr>
<section class="margin-b">
  <div>
    <span>Um eine neue Veranstaltung zu erstellen, einfach auf den Button klicken.<br>
      Es können Titel, Datum und ein Beschreibungstext eingegeben werden, danach kann ein Link an alle Teilnehmer der Veranstaltung verschickt werden.
    </span>
    <span>TODO Bild einfügen</span>
  </div>
  <div>
    <button mat-raised-button (click)="navigateToNewEvent()">Neue Veranstaltung erstellen</button>
  </div>
</section>

<section class="margin-b">
  <div>Falls die Informationen der Veranstaltung nachträglich noch geändert werden müssen, einfach die ID eingeben. Die Änderungen können dann gespeichert werden und sind sofort sichtbar.</div>
  <label for="code">Veranstaltungs-Code: </label>
  <input
    id="code"
    type="text"
    placeholder="-BringMit123"
    #id
    style="margin-right: 1rem;"
  >
  <button mat-raised-button (click)="navigateToEditEvent(id.value)">Bearbeiten</button>
</section>

<section>
  <span>Veranstaltungen werden eine Woche nach Ablauf automatisch gelöscht.</span>
</section>
