html, body, app-root {
  height: 100%;
}
body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}

main {
  padding: 2rem; // todo less for mobile
  max-width: 60rem;
  margin: 0 auto;
}
footer {
  position: fixed;
  bottom: 0;
  z-index: 1000;
  padding: 1em;
  width: 100%;

  background-color: aquamarine;
}

.form {
  display: flex;
  flex-flow: column;

  > * {
    margin-bottom: 1em;
    display: flex;
    flex-flow: column;
  }
}

table {
  width: 100%;
}
